<!DOCTYPE html>
<html>
   <head>
      <title><%= title %></title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>
   <body>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <div>
         <% messages.forEach(function (item) {%>

         <h1><%= item.user %></h1>
         <h1><%= item.text %></h1>
         <p><%= item.added %></p>

         <% }) %>
      </div>
   </body>
</html>
